@import "tailwindcss";

@source "../frontend/**/*.{ts,tsx}";
@source "../backend/**/*.{ts,tsx}";

.font-title {
    font-family: 'Jacquard 24';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    background-color: #0a0a0a;
    color: #00ff00;
    font-family: 'Iosevka', monospace;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
